blockquote {
    border-left: 4px solid #12AD82;
    padding-left: 14px
}

a{
    border-bottom: none !important;
    text-decoration: none !important;
    box-shadow: none;
}

body{ background: whitesmoke}

img{
    margin: 0 !important
}

html{
    font-family: 'Lato', sans-serif;
}
