blockquote {
    border-left: 4px solid #14957D;
    padding-left: 14px
}

a{
    border-bottom: none !important;
    text-decoration: none !important;
    box-shadow: none;
    color: #14957D;
}

a:hover, a:focus{
    color: #90c695;
    /*text-decoration: underline !important;*/
}

body{ background: whitesmoke}

img{
    margin: 0 !important
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Fira Sans Condensed', sans-serif;
}
